<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      dashboard
      <i class="fas fa-carrot"></i>
    </div>
  </div>
</div>

<div class="container  " >
  <div class="row ">
    <div class="  col-lg-4  card justify-content-between " *ngFor="let property of orderadmin | keyvalue" >
      <p class="price">order status:<span>{{property.value.order_status}}</span> </p>
        <p class="price">Order Placed date:<span>{{property.value.Order_Placed_date}}</span> </p>
        <p class="price">order status:<span>{{property.value.Order_delivered_date}}</span> </p>

        <div class="col-sm"  *ngFor="let property2 of property.value.items| keyvalue" >
          <!-- <p class="price"> name:<span>{{property2.value.menuid.name}}</span></p> -->
          <p class="price"> description:<span>{{property2.value.menuid.description}}</span></p>
          <p class="price"> price:<span>{{property2.value.menuid.price}}</span></p>
          <p class="price"> count:<span>{{property2.value.count}}</span></p>
      <!-- {{property.value.userid}} -->

</div>
<div>
<!-- <button class="btn-user bg-warning" type="submit" (click)="getuser(property.value.userid)">user</button> -->
<button class="btn btn-lg btn-outline-primary" (click)="open(property.value.userid)">user</button>
<button  class="edit-btn" type="submit" (click)="statusedit('accepted',property.value._id)">accepted</button>
<button class="edit-btn  bg-danger " type="submit" (click)="statusedit('rejected',property.value._id)">Rejected</button>


</div>
<form>

<br>

</form>
</div>
  </div>
</div>


