<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      dashboard
      <i class="fas fa-user-tie"></i>
    </div>
  </div>
</div>
<div class="container " style="margin-top: 100px;">
  <div class="main-body">
      <div class="col-12 bg-dark m-35">
          <!-- <app-header></app-header> -->
      </div>
      <div class="row gutters-sm mt-3">
          <div class="col-md-4 mb-3 ">
              <div class="card ">
                  <!-- <div class="card-body"> -->
                      <!-- <div class="d-flex flex-column align-items-center text-center"> -->

                          <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                              class="rounded-circle" width="150"> -->

                              <!-- <form> -->
                                <!-- <div>
                                  <input class="choose-file" type="file" name="image" (change)="selectImage($event)" />
                                </div>
                                <br>
                                <div>
                                  <button   class="upload" type="submit" (click)="onSubmit()">Upload</button>
                                </div> -->
                              <!-- </form> -->
                          <!-- <div class="mt-3">
                              <h4 class="label">
                                <span> {{user[0].firstName}} </span>   {{user[0].lastName}}

                              </h4>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card mt-3">
              </div>
          </div>
          <div class="col-md-8">
              <div class="card mb-3">
                  <div class="card-body label">
                      <div class="row" >
                          <div class="col-sm-3">
                              <h6 class="mb-0">Full Name</h6>

                          </div>
                          <div class="col-sm-9 text-secondary">
                          <span> {{user[0].firstName}} </span>   {{user[0].lastName}}

                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Email</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{user[0].email}}                          </div>
                      </div> -->

      <!-- <li class="list-group-item ">
        <div class="card">
          <div class="card-body" >

            <form class="row g-8 needs-validation" novalidate #register>
              <div class="col-md-7 position-relative">
                    <input type="text"  #email class="form-control"   name="email" >
                      </div>
                     </form>
                  </div>
                  </div>

    <button class="upload" type="submit" (click)="editemail(email.value)">Edit Email</button>
  </li>

                      <hr>
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Gender</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{user[0].gender}}
                            </div>
                      </div>
                      <hr>

                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Address</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{user[0].address}}

                          </div>
                          <li class="list-group-item ">
                            <div class="card">
                              <div class="card-body" >

                                <form class="row g-8 needs-validation" novalidate #register>
                                  <div class="col-md-7 position-relative">
                                        <label for="validationTooltip01" class="form-label" >Address</label>
                                        <input type="text"  #address class="form-control"   name="address" >

                                          </div>
                                         </form>
                                      </div>
                                      </div>

                        <button class="upload" type="submit" (click)="editaddress(address.value)">Edit address</button>
                      </li>
                      </div>
                  </div>
              </div>
              <div class="row gutters-sm">
                  <div class="col-sm-6 mb-3">
                      <div class="card h-100">

                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div> -->
<div class="row">
  <div class="col-4 offset-4">
<button (click)="getmenu()" class="btn"><span>manage admin</span></button>
  </div>
</div>
<div class="row">
  <div class="col-4 offset-4">
<button (click)="getorder()" class="btn"><span>order</span></button>
  </div>
</div>
<div class="row">
  <!-- <div class="col-4 offset-4 mb-5">
<button (click)="getlogout()" class="btn2"><span>logout</span></button>
  </div> -->
</div>

